[Unit]
Description=Network Usage Monitor Daemon (NetMonitor)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/netmon --daemon
WorkingDirectory=/home/abdallah_mamdouh/Projects/NetMonitor
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
